body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.alignBtnModalBeneficiarios{
    min-height: 74px;
    display: flex;
    align-items: flex-end;
}

#ModalBeneficiarios .modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    border: none;
    background-color: transparent;
}